# Nachbar.io Android Release Signing
# Kopiere diese Datei nach keystore.properties und trage echte Werte ein
# ACHTUNG: keystore.properties NIEMALS committen!

storeFile=release-keystore.jks
storePassword=DEIN_KEYSTORE_PASSWORT
keyAlias=nachbar-io
keyPassword=DEIN_KEY_PASSWORT
